#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
h1{
  margin-top: 10px;
}
.actionArea{
  display: flex;
}
#bookBtn{
  height: 50px;
  position: absolute;
  right: 120px;
  margin-top: 30px;
}
h3{
  margin-left: 2em;
}
.aboutArea{
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.aboutText{
  width: 50%;
  
}
.aboutImage{
  width: 50%;
  height: 330px;
  background-image: url('../src/images/aboutImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

