#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}
h1{
  text-align: right;
  margin-right: 120px;
  margin-top: 30px;
}
.actionArea{
  
}
#bookBtn{
  height: 50px;
  position: absolute;
  right: 120px;
  margin-top: 100px;
}
h3{
  margin-left: 2em;
}
.aboutArea{
  background-color: white;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.aboutText{
  width: 50%;
  
}
.aboutImage{
  width: 50%;
  height: 330px;
  background-image: url('../src/images/aboutImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
form{
  display: flex;
  flex-direction: column;
 
}
#modalHeader{
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}
input{
  width: 200px;
}
input, label{
  margin-top: 10px;
}
.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close{
  position: absolute;
  right: 5px;
  top: 2px;
}


